{% extends 'expenso_app/base.html' %}

{% block title %}Add Expense - Expenso{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h1>Add Expense</h1>
        <div class="card">
            <div class="card-header">
                New Expense
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Add Expense</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
