{% extends 'expenso_app/base.html' %}
{% load static %}

{% block title %}Dashboard - Expenso{% endblock %}

{% block content %}
<h4><strong><center>{{ welcome_message }}</center></strong></h4>
<br>

<h3>Remaining Budget</h3>
<table>
    <tr>
        <th>Category</th>
        <th>Budget</th>
        <th>Remaining</th>
    </tr>
    {% for category, summary in budget_summary.items %}
    <tr>
        <td>{{ category }}</td>
        <td>{{ summary.budget }}</td>
        <td>{{ summary.remaining }}</td>
    </tr>
    {% endfor %}
</table>
<br>
<h3>Expenses</h3>


<table>
    <tr>
        <th>Amount</th>
        <th>Date</th>
        <th>Category</th>
        <th>Notes</th>
        <th>Actions</th>
    </tr>
    {% for expense in expenses %}
    <tr>
        <td>{{ expense.amount }}</td>
        <td>{{ expense.date }}</td>
        <td>{{ expense.category.name }}</td>
        <td>{{ expense.notes }}</td>
        <td>
            <a href="{% url 'edit_expense' expense.id %}">Edit</a>
            <a href="{% url 'delete_expense' expense.id %}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}