{% extends 'expenso_app/base.html' %}
{% block title %}Expenso - Expense Tracker{% endblock %}
{% block content %}

            <section class="hero">
            <div class="hero-content">
                <h1>Welcome to Expenso</h1>
                <p>Your personal expense tracker to manage and analyze your spending.</p>
                <a href="{% url 'signup' %}" class="btn">Get Started</a>
            </div>
        </section>
        <section class="intro">
            <h2>Track Your Expenses Easily</h2>
            <p>Expenso helps you stay on top of your finances by allowing you to track expenses, categorize your spending, set budgets, and analyze your financial habits with insightful charts and reports.</p>
            <a href="{% url 'signup' %}" class="btn">Join Now</a>
        </section> 
        {% endblock %}